{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>Admin Page Chat</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="{% static 'image/x-icon' %}" />
    <link rel="apple-touch-icon" href= "{% static 'images/apple-touch-icon.png' %}">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<div id="wrapper">
		<header class="header site-header colorfulheader">
			<div class="container">
				<nav class="navbar navbar-default yamm">
				    <div class="container-fluid">
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>
							<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Linda"></a>
				        </div>
				        <div id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav navbar-right">
				                <li><a href="#">Profile</a></li>
				                <li><a href="#">Daftar Item</a></li>
								<li><a href="#">Daftar Level</a></li>
								<li><a href="#">Daftar Pengiriman</a></li>
								<li><a href="list-barang-anggota.html">Daftar Barang</a></li>
				                <li><a href="#">Daftar Pesanan</a></li>
				                <li><a href="#">Daftar Review</a></li>
				            </ul>
				        </div><!--/.nav-collapse -->
				    </div><!--/.container-fluid -->
				</nav><!-- end nav -->
			</div><!-- end container -->
		</header><!-- end header -->

		<section class="section normalhead">
			<div class="container">
					<div class="col-md-6 col-md-offset-1 col-sm-12 text-center">
						<h2>{{ nama_item }}</h2>
					</div><!-- end col -->
			</div><!-- end container -->
			
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="about-widget">
							<ul>
								
								<li>ID Barang 		: {{ id_barang }}</li>
								<li>Nama Item		: {{ nama_item }}</li>
								<li>Warna 			: {{ warna }}</li>
								<li>Url Foto 		: {{ url_foto }}</li>
								<li>Kondisi 		: {{ kondisi }}</li>
								<li>Lama Penggunaan : {{ lama_penggunaan }}(bulan)</li>
								<li>Pemilik/Peminjam: {{ nama_lengkap }}</li>
								<br>
								<h3>Info Barang</h3>
								<li>
									<p>+Bronze</p>
									<p>Persen Royalti 	:  {{ Bronze.porsi_royalti }}% </p>
									<p>Harga Sewa 		:  {{ Bronze.harga_sewa }}</p>
									</li>
								<li>
									<p>+Silver</p>
									<p>Persen Royalti 	: {{ Silver.porsi_royalti }}%</p>
									<p>Harga Sewa 		: {{ Silver.harga_sewa }}</p>							
								</li>
								<li>
									<p>+Gold</p>
									<p>Persen Royalti 	: {{ Gold.porsi_royalti }}%</p>
									<p>Harga Sewa 		: {{ Gold.harga_sewa}}</p>							
								</li>
								
							</ul>

	                    </div><!-- end about-widget -->	

					</div><!-- end col -->
					<div class="col-md-6 col-sm-12">
					<div class="about-img">
						<img src="upload/browser_01.png" alt="" class="img-responsive">
					</div>
				</div>

				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/parallax.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>