{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>Chat</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="{% static 'image/x-icon' %}" />
    <link rel="apple-touch-icon" href= "{% static 'images/apple-touch-icon.png' %}">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<div id="wrapper">
		<header class="header site-header colorfulheader">
			<div class="container">
				<nav class="navbar navbar-default yamm">
				    <div class="container-fluid">
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>
							<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Linda"></a>
				        </div>
				        <div id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav navbar-right">
				                <li><a href="#">Profile</a></li>
					  	        <li><a href="admin-page-chat.html">Chat</a></li>       
							    <li><a href="#">Daftar Item</a></li>
								<li><a href="#">Daftar Level</a></li>
								<li><a href="#">Daftar Pengiriman</a></li>
								<li><a href="#">Daftar Barang</a></li>
				                <li><a href="#">Daftar Pesanan</a></li>
				                <li><a href="#">Daftar Review</a></li>
				            </ul>
				        </div><!--/.nav-collapse -->
				    </div><!--/.container-fluid -->
				</nav><!-- end nav -->
			</div><!-- end container -->
		</header><!-- end header -->

		<section class="section normalhead">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2>List Barang</h2>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="section">
			<div class="container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Id Barang</th>
							<th scope="col">Nama Item</th>
							<th scope="col">Warna</th>
							<th scope="col">Kondisi</th>
							<th scope="col">Action</th>
							<th scope="col">Admin Privileges</th>
						</tr>
					</thead> 
					<tbody>
						{% if data %}
							{% for item in data %}
								<tr>
									<th scope="row">{{ item.id_barang }}</th>
									<td>{{ item.nama_item }}</td>
									<td>{{ item.warna }}</td>
									<td>{{ item.kondisi }}</td>
									<td><a href="/barang/detail-barang/{{item.id_barang}}">[Lihat Detail]</a></td>
									<td>
										<a class = "btn btn-success" href="#form-update">Update</a>
										<a class = "btn btn-danger" href="#form-update">Delete</a>
									</td>
								</tr>		
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
				<div class="pagination-wrapper row">
					<ul class="pagination col-md-12">
						{% if data.has_previous %}
							<li><a href="?page=1">&laquo; first</a></li>
							<li><a href="?page={{ data.previous_page_number }}">previous</a></li>
						{% endif %}											
						
						<li class="active"><a href="#">{{ data.number }}</a></li>
						
						{% if data.has_next %}
							<li><a href="?page={{ data.next_page_number }}">next</a></li>
							<li><a href="?page={{ data.paginator.num_pages }}">last &raquo;</a></li>
						{% endif %}
					</ul>
			</div><!-- end container -->
		</section>

	<section class="section">	
		<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2><a href="/barang/tambah-barang">Form Penambahan Barang</a></h2>
					</div><!-- end col -->
				</div><!-- end row -->
	</section><!-- end section -->

		
		<footer class="footer secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>2019 &copy;The <a href="#">Toys Rent</a></p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li>Designed: <a href="https://html.design">HTML Design</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
		</footer><!-- end second footer -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/parallax.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>