{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>Chat</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="{% static 'image/x-icon' %}" />
    <link rel="apple-touch-icon" href= "{% static 'images/apple-touch-icon.png' %}">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<div id="wrapper">
		<header class="header site-header colorfulheader">
			<div class="container">
				<nav class="navbar navbar-default yamm">
				    <div class="container-fluid">
				        <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>
							<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Linda"></a>
				        </div>
				        <div id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav navbar-right">
				                <li><a href="#">Profile</a></li>
					  	        <li><a href="admin-page-chat.html">Chat</a></li>       
							    <li><a href="#">Daftar Item</a></li>
								<li><a href="#">Daftar Level</a></li>
								<li><a href="#">Daftar Pengiriman</a></li>
								<li><a href="#">Daftar Barang</a></li>
				                <li><a href="#">Daftar Pesanan</a></li>
				                <li><a href="#">Daftar Review</a></li>
				            </ul>
				        </div><!--/.nav-collapse -->
				    </div><!--/.container-fluid -->
				</nav><!-- end nav -->
			</div><!-- end container -->
		</header><!-- end header -->

		<div class="container">
				<br>
				<br>
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2 id="form-update" >Form Update Barang</h2>
					</div><!-- end col -->
				</div><!-- end row -->
				
				<div class="contact_form comment-form">
                	<form class="row">
						<div class="col-md-12 col-sm-12">
                            <label>ID Barang</label>
                            <input type="text" class="form-control" placeholder="" value="1112">
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="dropdown">
								<label>Nama Item</label>
								<br>
								<button class="dropdown-toggle" type="button" data-toggle="dropdown" value="Mahkota Princess Merk X">
									Item
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Item 1</a></li>
									<li><a href="#">Item 2</a></li>
									<li><a href="#">Item 3</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<label>Warna</label>
							<input type="text" class="form-control" placeholder="" value="Biru">
						</div>
						<div class="col-md-12 col-sm-12">
							<label>Url Foto</label>
							<input type="text" class="form-control" placeholder="" value="bit.ly/contohGambar">
						</div>
						<div class="col-md-12 col-sm-12">
							<label>Kondisi</label>
							<input type="text" class="form-control" placeholder="" value="Tersedia">
						</div>
						<div class="col-md-12 col-sm-12">
							<label>Lama Penggunaan</label>
							<input type="text" class="form-control" placeholder="" value="1(bulan)">
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="dropdown">
								<label>Pemilik/Penyewa</label>
								<br>
								<button class="dropdown-toggle" type="button" data-toggle="dropdown" value="Prince">
									Anggota
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Anggota 1</a></li>
									<li><a href="#">Anggota 2</a></li>
									<li><a href="#">Anggota 3</a></li>
								</ul>
							</div>
						</div>
					
						<div class="col-md-12 col-sm-12">
							<h2>Info Barang</h2>
						</div><!-- end col -->
					
						<div class="col-md-12 col-sm-12">
							<p>+Bronze</p>
							<label>Persen royalty</label> 
							<input type="text" class="form-control" placeholder="(%)" value="5"> 
							<label>Harga Sewa</label> 
							<input type="text" class="form-control" placeholder="(Rupiah/Bulan)" value="30000"> 
						</div><!-- end col -->

						<div class="col-md-12 col-sm-12">
							<p>+Silver</p>
							<label>Persen royalty</label> 
							<input type="text" class="form-control" placeholder="(%)" value="10"> 
							<label>Harga Sewa</label> 
							<input type="text" class="form-control" placeholder="(Rupiah/Bulan)" value="25000" > 
						</div><!-- end col -->

						<div class="col-md-12 col-sm-12">
							<p>+Gold</p>
							<label>Persen royalty</label> 
							<input type="text" class="form-control" placeholder="(%)" value="15"> 
							<label>Harga Sewa</label> 
							<input type="text" class="form-control" placeholder="(Rupiah/Bulan)" value="20000"> 
						</div><!-- end col -->

						<div class="col-md-12 col-sm-12">
							<br>
						    <input type="submit" value="Submit" class="btn btn-primary" />
         				</div>
    	    		</form>
			</div><!-- end commentform -->
		</div><!-- end container -->

	</section><!-- end section -->

		
		<footer class="footer secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>2019 &copy;The <a href="#">Toys Rent</a></p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li>Designed: <a href="https://html.design">HTML Design</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
		</footer><!-- end second footer -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/parallax.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>