{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>SEOTime HTML5 Business Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


</head>
<body>
	
	<div id="wrapper">
			<header class="header site-header colorfulheader"> 
				<div class="container"> 
					<nav class="navbar navbar-default yamm"> 
						<div class="container-fluid"> 
							<div class="navbar-header"> 
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
									<span class="sr-only">Toggle navigation</span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span> 
								</button> 
								<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Linda"></a> 
							</div> 
							<div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right"> 
                                    <li><a href="#">Profile</a></li> 
                                    <li><a href="/chat">Chat</a></li> 
                                    <li><a href="#">Daftar Item</a></li> 
                                    <li><a href="/level">Daftar Level</a></li> 
                                    <li><a href="#">Daftar Pengiriman</a></li> 
                                    <li><a href="/barang">Daftar Barang</a></li> 
                                    <li><a href="/pesanan">Daftar Pesanan</a></li> 
                                    <li><a href="#">Daftar Review</a></li> 
                                </ul> 
							</div><!--/.nav-collapse --> 
						</div><!--/.container-fluid --> 
					</nav><!-- end nav --> 
				</div><!-- end container --> 
            </header><!-- end header -->
            
            {% block main %}
            {% endblock %}

            <footer class="footer secondary-footer"> 
                    <div class="container"> 
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12"> 
                                <p>2019 &copy;The <a href="#">Toys Rent</a></p> 
                            </div> 
                
                            <div class="col-md-6 col-sm-6 col-xs-12"> 
                                <ul class="list-inline"> 
                                    <li>Designed: <a href="https://html.design">HTML Design</a></li> 
                                </ul> 
                            </div><!-- end col --> 
                        </div><!-- end row --> 
                    </div><!-- end container --> 
                </footer><!-- end second footer -->
            </div><!-- end wrapper -->
        
            <!-- jQuery Files -->
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/parallax.js' %}"></script>
            <script src="{% static 'js/animate.js' %}"></script>
            <script src="{% static 'js/custom.js' %}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAkADq7R0xf6ami9YirAM1N-yl7hdnYBhM"></script>
           <!-- MAP & CONTACT -->
            <script src="{% static 'js/map.js' %}"></script>
        
        </body>
        </html>