{% extends "base.html" %}
{% block main %}
{% load static %}

		<section class="section transheader parallax" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/page_pesanan.jpg' %}); background-size: cover;">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2>Daftar Pesanan</h2>
						<button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/pesanan/create'">Create Order</button>
						<p class="lead"></p>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 10000;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Warning</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure to delete this data?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="deleting">Yes</button>
			</div>
			</div>
		</div>
		</div>
		<section class="section">
			<div class="container">
				<form>
					<div class="form-group row" class="inline-block">
						<div class="col-sm-1">
							<i class="fa fa-search"></i>
						</div>
						<div class="col-sm-8">
							<input type="text" style="float: right" class="form-control" id="exampleFormControlInput1" placeholder="Search here...">
						</div>
						<div class="col-sm-1">
							Filter by:
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<select class="form-control" id="sel1">
									<option>Id</option>
									<option>Harga</option>
									<option>Status</option>
								</select>
							</div>
						</div>
					</div>
				</form>
				<div class="row">
					
					<div class="col-md-12">
						<div class="seo-details">
						  <table class="table">
						    <thead>
						      <tr class="row">
						        <th class="col-md-1">Id</th>
								<th class="col-md-5">Daftar Barang</th>
								<th class="col-md-2">Harga</th>
								<th class="col-md-3">Status</th>
								<th class="col-md-1">Action</th>
						      </tr>
						    </thead>
						    <tbody>
							

							{% if data %}
							{% for item in data %}
							<tr class="row">
								<td class="first-col col-md-1">{{ item.id_pemesanan }}</td>
								<td class="col-md-5">
									<ul>
										{% if item.nama_item %}
										{% for nama in item.nama_item %}
										<li>{{ nama }}</li>
										{% endfor %}
										{% endif %}
									</ul>
								</td>
								<td>Rp {{ item.harga_sewa }}</td>
								<td>{{ item.status }}</td>
								<td>
								{% if item.status == 'Konfirmasi' or item.status == 'Menunggu Pembayaran' or item.status == 'Sedang Disiapkan' %}
								<i class="fa fa-edit"></i> 
								{% endif %}
								<i class="fa fa-trash-o" data-toggle="modal" data-target="#exampleModalCenter" onclick="delete_pesanan('{{ item.id_pemesanan }}')"></i></td>
							</tr>
							{% endfor %}
							{% endif %}
						   	
						   	
						    </tbody>
						  </table>
						  <div class="pagination-wrapper row">
								<ul class="pagination col-md-12">
										{% if data.has_previous %}
											<li><a href="?page=1">&laquo; first</a></li>
											<li><a href="?page={{ data.previous_page_number }}">previous</a></li>
										{% endif %}

											
											<li class="active"><a href="#">{{ data.number }}</a></li>
											

										{% if data.has_next %}
											<li><a href="?page={{ data.next_page_number }}">next</a></li>
											<li><a href="?page={{ data.paginator.num_pages }}">last &raquo;</a></li>
										{% endif %}

									 <!-- <li><a href="#">1</a></li>
									 <li class="active"><a href="#">2</a></li>
									 <li><a href="#">3</a></li>
									 <li><a href="#">4</a></li>
									 <li><a href="#">5</a></li> -->
							   </ul>
						   </div><!-- ne dpagi -->
						</div><!-- end details -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<script>
		function delete_pesanan(delete_id) {
			var button = document.getElementById("deleting")
			var delete_url_fix = "window.location.href='/pesanan/delete/" + delete_id + "'";
			button.setAttribute("onclick",delete_url_fix);
		}
		</script>

{% endblock %}