{% extends "base.html" %}
{% block main %}
{% load static %}

		<section class="section transheader bgcolor">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2>Update Pemesanan</h2>
						<!-- <p class="lead"></p> -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						
					</div>

					<div class="col-md-6">
						<h2 style="text-align: center;">Silahkan lengkapi data berikut</h2><br>
						<form role="form" class="contactform">
							
							<div class="form-group">
								<script type="text/javascript">
									$('select').selectpicker();
								</script>
								<label for="sel1">Barang :</label>
								<select class="selectpicker form-control" multiple data-live-search="true" title="Barang 3, Barang 4">
									<option>Barang 1</option>
									<option>Barang 2</option>
									<option aria-selected="true">Barang 3</option>
									<option>Barang 4</option>
									<option>Barang 5</option>
								</select>	
							</div>				 
								  
						    <div class="form-group">
						        <input type="int" class="form-control" id="poin" name="poin" placeholder="Lama sewa (hari)" value=14 required>
							</div>
							<div class="form-group">
									<label for="sel1">Status :</label>
									<select class="form-control" id="sel1" title="Anggota 2">
										<option>Waiting confirmation</option>
										<option>Accepted</option>
										<option>Rejected</option>
									</select>
								</div>
							<button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
							
						</form>
					</div><!-- end col -->

					<div class="col-md-3">
						
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

{% endblock %}