{% extends "base.html" %}
{% block main %}
{% load static %}

		<section class="section transheader bgcolor">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2>Form Pemesanan</h2>
						<!-- <p class="lead"></p> -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						
					</div>

					<div class="col-md-6">
							<h2 style="text-align: center;">Silahkan lengkapi data berikut</h2><br>
						<form role="form" class="contactform" method="POST" action="">
							{% csrf_token %}
							<div class="form-group">
								<label for="sel1">Anggota :</label>
								<select class="form-control" id="sel1">
									{% for anggota in data_anggota %}
									<option value={{ anggota.no_ktp }}>{{ anggota.nama_lengkap }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<script type="text/javascript">
									$('select').selectpicker();
								</script>
								<label for="sel1">Barang :</label>
								<select style="z-index: 100000" name='barang' class="selectpicker form-control" multiple data-live-search="true">
									{% for item in data_barang %}
									<option value={{ item.id_barang }}>{{ item.nama_item }}</option>
									{% endfor %}
									
								</select>	
							</div>				 
								  
						    <div class="form-group">
						        <input type="int" class="form-control" id="poin" name="poin" placeholder="Lama sewa (hari)" required>
						    </div>
							<button type="submit" id="submit" name="submit" class="btn btn-primary">Order</button>
							
						</form>
					</div><!-- end col -->

					<div class="col-md-3">
						
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

{% endblock %}