{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>SEOTime HTML5 Business Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<div id="wrapper">

		<header class="header site-header colorfulheader">
			<div class="container">
			 <nav class="navbar navbar-default yamm">
				 <div class="container-fluid">
					 <div class="navbar-header">
						 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							 <span class="sr-only">Toggle navigation</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
						 </button>
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Linda"></a>
					 </div>
					 <div id="navbar" class="navbar-collapse collapse">
						 <ul class="nav navbar-nav navbar-right">
							 <li><a href="#">Profile</a></li>
						 <li><a href="#">Chat</a></li>       
					<li><a href="#">Daftar Item</a></li>
				 <li><a href="#">Daftar Level</a></li>
				 <li><a href="#">Daftar Pengiriman</a></li>
				 <li><a href="#">Daftar Barang</a></li>
							 <li><a href="#">Daftar Pesanan</a></li>
							 <li><a href="#">Daftar Review</a></li>
						 </ul>
					 </div><!--/.nav-collapse -->
				 </div><!--/.container-fluid -->
			 </nav><!-- end nav -->
			</div><!-- end container -->
		   </header><!-- end header -->

		<section class="section normalhead lb">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2> Update Pengiriman</h2>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="section">
			<div class="container">
				<div class="row">
                    
					<div class="content col-md-12 blog-alt">

                        <div class="blog-box clearfix">

                            <div class="contact_form comment-form">
                                <form class="row">
									<div class="col-md-12 col-sm-12">
									<div class="dropdown">
										<label>Barang Pesanan</label>
										<br>
										<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mahkota merk x warna merah
										<span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Mahkota merk x warna biru</a></li>
											<li><a href="#">Barang 1</a></li>
											<li><a href="#">Barang 1</a></li>
										</ul>
									</div>
									<div class="dropdown">
										<label>Alamat Tujuan</label>
										<br>
										<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">rumah - jl. Merdeka
										<span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">rumah1</a></li>
											<li><a href="#">rumah1</a></li>
											<li><a href="#">rumah1</a></li>
										</ul>
									</div>
								</div>
									<div class="col-md-12 col-sm-12">
                                        <label>Tanggal Pengiriman</label>
                                        <input type="text" class="form-control" placeholder="20 April 2019">
									</div>
									<div class="col-md-12 col-sm-12">
                                        <label>Metode</label>
                                        <input type="text" class="form-control" placeholder="minta dikirimkan">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <input type="submit" value="Update" class="btn btn-primary" />
									</div>
								</form>
								</div>
                            </div><!-- end commentform -->
                        </div><!-- end postpager -->
					</div><!-- end content -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<footer class="footer secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>2019 &copy;The <a href="#">Toys Rent</a></p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li>Designed: <a href="https://html.design">HTML Design</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
  </footer><!-- end second footer -->
 </div><!-- end wrapper -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/parallax.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>