{% extends "base.html" %}
{% block main %}
{% load static %}


		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 10000;">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Warning</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure to delete this data?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" id="deleting">Yes</button>
					</div>
					</div>
				</div>
				</div>
		<section class="section transheader parallax" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/page_acc.jpg' %}); background-size: cover; background-position-y: -15vw">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2 style="color:black;">Daftar Level</h2>
						<button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/level/create'">Create Level</button>
						<p class="lead"></p>
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="section">
			<div class="container">
				<div class="row">
					
					<div class="col-md-12">
						<div class="seo-details">
						  <table class="table">
						    <thead>
						      <tr class="row">
						        <th class="col-md-1">No</th>
										<th class="col-md-5">Nama Level</th>
										<th class="col-md-2">Deskripsi</th>
										<th class="col-md-3">Minimum Poin</th>
										<th class="col-md-1">Action</th>
						      </tr>
						    </thead>
						    <tbody>
							{% if data %}
							{% for level in data %}
							<tr class="row">
								<td class="first-col col-md-1">{{ level.nomor }}</td>
								<td class="col-md-5">
									{{ level.nama_level }}
								</td>
								<td>{{ level.deskripsi }}</td>
								<td>{{ level.minimum_poin }}</td>
								<td><a href="{{ level.url }}"><i class="fa fa-edit"></i> </a>
									<i class="fa fa-trash-o" data-toggle="modal" data-target="#exampleModalCenter" onclick="delete_level('{{ level.delete_url }}')"></i></td>
							</tr>
							{% endfor %}
							{% endif %}

						    </tbody>
							</table>
							<div class="pagination-wrapper row">
									<ul class="pagination col-md-12">
											{% if data.has_previous %}
												<li><a href="?page=1">&laquo; first</a></li>
												<li><a href="?page={{ data.previous_page_number }}">previous</a></li>
											{% endif %}
	
												
												<li class="active"><a href="#">{{ data.number }}</a></li>
												
	
											{% if data.has_next %}
												<li><a href="?page={{ data.next_page_number }}">next</a></li>
												<li><a href="?page={{ data.paginator.num_pages }}">last &raquo;</a></li>
											{% endif %}
									 </ul>
								 </div><!-- ne dpagi -->
						</div><!-- end details -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<script>
		function delete_level(delete_url) {
			var button = document.getElementById("deleting")
			var delete_url_fix = "window.location.href='" + delete_url + "'";
			button.setAttribute("onclick",delete_url_fix);
		}
		</script>

{% endblock %}