{% extends "base.html" %}
{% block main %}
{% load static %}


		<section class="section transheader bgcolor">
			<div class="container">
				<div class="row">	
					<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
						<h2>Create New Level</h2>
						<!-- <p class="lead"></p> -->
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						
					</div>

					<div class="col-md-6">
						<h2 style="text-align: center;">Silahkan lengkapi data berikut</h2><br>
						<form role="form" class="contactform" method="POST" action="">
							{% csrf_token %}
						    <div class="form-group">
						        <input type="text" class="form-control" id="name" name="name" placeholder="Nama Level" required>
						    </div>
						    <div class="form-group">
						        <input type="int" class="form-control" id="poin" name="poin" placeholder="Minimal Poin" required>
						    </div>
						    <div class="form-group">
						        <textarea class="form-control" id="deskripsi" name="deskripsi" placeholder="Deskripsi" maxlength="140" rows="7"></textarea>
						    </div>
							<button type="submit" id="submit" name="submit" class="btn btn-primary">Create</button>
							
						</form>
					</div><!-- end col -->

					<div class="col-md-3">
						
					</div><!-- end col -->
				</div><!-- end row -->
			</div><!-- end container -->
		</section><!-- end section -->

{% endblock %}